name: flake8
on: push
    
jobs:
  tests:
    strategy:
      matrix:
        python: [3.11]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{matrix.python}}
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python}}
      - name: Install flake8
        run: 
          python -m pip install --upgrade pip
          python -m pip install flake8
          if [ -f requirements.txt ]; then python -m pip install -r requirements.txt; fi
     
      - name: Run tests
        run:
          flake8 .  --ignore=E501
